footer {
    background: #2F303A;
    padding: 60px 0;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.footer-list li:nth-child(2) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer-list li:first-child{
    color: white;
    margin-bottom: 20px;
}
.footer-list li:first-child span{
    color: #2196F3;
}