.container {
    max-width: 1200px;
    margin: auto;
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Raleway";
    src: url(../font/Raleway-VariableFont_wght.ttf);
}

.hr-line {
    border: 1px solid #ECECEC;
    margin-bottom: 100px;
}